footer {
    height: 100px;
    background: #372a23;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: $white;
    text-align: center;
   padding-top: 20px;
   margin-top:30px;
    bottom: 0;
    .contact {
        max-width: 200px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .content {
        margin-top: 10px;
    
    
    }
    @include max-responsive($sm) {
        font-size: 10px;
    }
}

.back-top {
    background: $blue;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    color: $white;
    @include transition_slow(all);
    display: none;
    &:hover {
        background: $blue_solid;
    }
    ;
    img {
        width: 20px;
    }
}